body { background: #e2e2e2; }
h1 { color:#ee0000;font-size: 100px; }
#yellow { color: yellow; }
.orange { color: orange; }
.first-row { background: #fff; }
.first-box , .second-box { float: left; width: 40%; }
.first-box img { width: 80%;border:10px dotted orange; }
.paragraph { color: #214ed9; }